html {
  width:100vw;
  overflow-x:hidden;
}

.overview {
  left: 0;
  right: 0;
  height: 100%;
}

.map {
  position: fixed;
  float: left;
  top: 51px;
  left: 0;
  right: 0;
  overflow: hidden;
  bottom: 0;
  padding: 0;
  background-color: whitesmoke;
}

.tabel {
  overflow-y: auto;
  overflow-x: scroll;
}

.pie {
  margin: 10px;
}

.scatterplot {
  background-color: whitesmoke;
}

.cursor-crosshair {
  cursor: pointer !important;
}

.surface {
  pointer-events: none !important;
}

.leaflet-right {
  display: none;
}

#collapse_sidebar {
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.3s;
     -moz-transition: -moz-transform 0.3s;
       -o-transition: -o-transform 0.3s;
          transition: transform 0.3s;
}

.collapsed-sidebar {
  -webkit-transform: translateX(30em);
     -moz-transform: translateX(30em);
      -ms-transform: translateX(30em);
       -o-transform: translateX(30em);
          transform: translateX(30em);
}