html {
  width:100vw;
  overflow-x:hidden;
}

.map, .below {
  position: absolute;
  left: 0;
  right: 0;
}

.map {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  height: 60%;
  overflow: hidden;
  padding: 0;
}

.tabel {
  overflow-y: scroll;
}

.pie {
  margin: 10px;
}

.leaflet-right {
  display: none;
}

.below {
  position: fixed;
  height: 30%;
  bottom: 0;
  overflow:hidden;
}

